html,
body {
  padding: 0;
  margin: 0;
  scroll-snap-type: y mandatory;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
li {
  margin: 10px 0;
}

li span {
  display: inline-block;
  padding: 5px;
  box-shadow: none;
}

section {
  scroll-snap-align: start;
  min-height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-size: cover;
  width: 100vw;
}

#intro {
  background-position-y: bottom;
  background-image: url("images/screentime_bg.jpg");
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.801); 
  color: #f4f4ec;
  font-size: 5rem;
  text-align: center;
  justify-content: stretch;
}
#intro .container {
  margin-bottom: 20vh;
  text-align: right;
  font-size: 5vw;
}

.container {
  padding: 2rem;
  max-width: 640px;
}

#intro .container {
  flex-grow: 1;
  max-width: unset;
  backdrop-filter: blur(5px);
}

#intro h1 {
  font-weight: 600;
}

.animate {
  opacity: 1;
  transition: all .5s ease-out 250ms;
}

.container.animate {
  transform: none;
}

li span.animaten {
  background-color: transparent;
  color: unset;
}

.hidden {
  transition: none; 
}

.container.hidden {
  opacity: 0;
  transform: translateX(-50px);
}

li span.hidden {
  box-shadow: 0 0 3px black;
  background-color: cornflowerblue;
  color: cornflowerblue;
}